<a href="https://www.datamics.com/courses/online-courses/">![title](bg_datamics_top.png)</a><center><em>© Datamics</em></center><br><center><em>Besuche uns für mehr Informationen auf <a href='https://www.datamics.com/courses/online-courses/'>www.datamics.com</a></em>

# SF Löhne Übung - Aufgabe

Willkommen zurück zu einer kleinen Übungseinheit zur Daten Analyse mit Pandas. Wir werden dafür den [Lohndatensatz von San Francisco](https://www.kaggle.com/kaggle/sf-salaries) nutzen, der auf Kaggle bereitgestellt wird. 

Folgt dem Notebook und bearbeitet die **Aufgabenstellung** der Reihenfolge nach.

**Importiere pandas als pd.**

In [2]:
import pandas as pd

**Lese Salaries.csv als Dataframe namens sal ein.**

**Hinweis:** Die Datei *Salaries.csv* liegt im diesem Übungungsheft anbei. Wenn du diese von Kaggle herunterlädst dann muss du die Daten noch etwas anpassen.

In [3]:
df = pd.read_csv('Salaries.csv')

**Sieh dir den *head* des Dataframe an.**

In [4]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Nutze die `info()` Methode, um herauszufinden, wie viele Einträge es gibt.**

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**Was ist der durchschnittliche Grundlohn (en. BasePay)?**

In [6]:
df['BasePay'].mean()

66325.4488404877

**Was ist der höchste Überstundenlohn (en. OvertimePay), der im Datensatz festgehalten ist?**

In [7]:
df['OvertimePay'].max()

245131.88

**Wie lautet die Berufsbezeichnung (en. JobTitle) von JOSEPH DRISCOLL?**

*Achtung: Beim Namen nur Großbuchstaben vernwenden!*

In [9]:
df[df['EmployeeName']=='JOSEPH DRISCOLL'][['EmployeeName', 'JobTitle']]

       EmployeeName                   JobTitle
24  JOSEPH DRISCOLL  CAPTAIN, FIRE SUPPRESSION

**Wie viel verdient JOSEPH DRISCOLL (inkl. Zusatleistungen (en. Benefits))?**

In [10]:
df[df['EmployeeName']=='JOSEPH DRISCOLL'][['TotalPayBenefits']]

    TotalPayBenefits
24         270324.91

**Wie heißt die höchstbezahlte Person (inkl. Zusatzleistungen)?**

In [16]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**Wie lautet der Name der am niedrigsten bezahlten Person? Fällt dir etwas merkwürdiges an ihrem Lohn auf?**

In [20]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

**Wie ist der durchschnittliche (en. mean) Grundlohn (en. base pay) von allen Angestellten pro Jahr (2011-2014)?**

In [22]:
df_by_year = df.groupby('Year')
df_by_year['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**Wie viele einzigartige (en. unique) Jobbezeichnungen (en. job titles) gibt es?**

In [26]:
df['JobTitle'].nunique()

2159

**Was sind die 5 häufigsten Jobs?**

In [28]:
df['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**Wie viele Berufsbezeichnungen (en. job titles) wurden 2013 von nur einer Person getragen?**

*Hinweis: Haben nur eine Erscheinung in 2013*

In [31]:
sum(df[df['Year']==2013]['JobTitle'].value_counts() == 1)

202

**Wie viele Angestellte tragen ein "Chief" in ihrer Berufsbezeichnung?**

*Hinweis: Das ist eine etwas schwierigere Aufgabe, nehmt euch etwas Zeit dafür.*

In [34]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    return False

In [35]:
df['JobTitle'].apply(lambda x: chief_string(x))

0         False
1         False
2         False
3         False
4          True
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: JobTitle, Length: 148654, dtype: bool

In [37]:
df['JobTitle'].

AttributeError: 'Series' object has no attribute 'lower'

627

**Bonus: Gibt es eine Korrelation zwischen der Länge einer Berufsbezeichnung und dem Lohn?**

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Gut gemacht!